@import "react-toastify/dist/ReactToastify.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  inset: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
p {
  margin: 0;
}

input {
  outline: none;
}
Link {
  text-decoration: none;
}
.link {
  text-decoration: none;
}
button {
  border: none;
}
.wx_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 17px;
  border: none;
}
#root {
  height: 100%;
}
