.momentsItemWrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 15px;
  border-bottom: 1px solid #eaeaea;
}
.avatar {
  flex: none;
  width: 47px;
  height: 47px;
  margin-right: 12px;
  border-radius: 5px;
  overflow: hidden;
}
.momentContent {
  width: 100%;
  text-align: left;
}
.nickname {
  margin-bottom: 5px;
  color: #6a7797;
  font-size: 18px;
  font-weight: 700;
}
.content p {
  font-size: 16px;
}
.imgWrapper {
  margin-top: 8px;
}
.preview {
  width: 85px;
  height: 85px;
  margin: 0 6px 3px 0;
  object-fit: cover;
}
.preview1 {
  height: 120px;
}
.info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.time {
  color: #c1c1c1;
  font-size: 14px;
}
.delete {
  margin-left: 8px;
  color: #6a7797;
  font-size: 14px;
}
.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 18px;
  color: #6a7797;
  border-radius: 5px;
}
.actionsWrapper {
  position: relative;
}
.actions {
  position: absolute;
  right: 40px;
  top: -50%;
  transform: translateY(2px);
}
.interact {
  margin-top: 8px;
  background: #efefef;
  border-radius: 5px;
}
.likes {
  display: flex;
  align-items: center;
  padding: 5px;
}
.comment {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}
.sendComment {
  display: flex;
}
.sendComment button {
  font-size: 15px;
  color: #f9faf9;
  background: #58be6b;
}
.sendComment button:active {
  background-color: #51aa61;
}
.btnDisabled {
  color: #b7b7b7;
  background-color: #efefef;
}
.commentInput {
  flex: auto;
  font-size: 15px;
  border: none;
  outline: none;
}
