.newFriendsItemWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 55px;
  margin: 0 8px;
  border-bottom: 1px solid #eaeaea;
}
.avatar {
  flex: none;
  width: 37px;
  height: 37px;
  margin: 0 10px;
  border-radius: 5px;
  overflow: hidden;
}
.nickname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 60px;
  padding-right: 12px;
  color: #171717;
  text-align: left;
}
.chatItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 70px;
  padding-right: 12px;
}
.friendName {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.reqContent {
  width: calc(100vw - 55px - 8px - 60px - 5px);
  padding-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #a3a3a3;
  text-align: left;
  font-size: 14px;
}
.status {
  width: 60px;
  color: #909090;
  font-size: 14px;
  text-align: left;
}
