.discoverWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #efefef;
}
.topbarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  height: 49px;
  background: #ededed;
}
.topTitle {
  font-size: 18px;
  font-weight: 600;
}
.moments {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 57px;
  color: #000;
  background-color: #fff;
  text-decoration: none;
}
.content {
  display: flex;
  align-items: center;
}
.moments img {
  vertical-align: middle;
}
.moments span {
  font-size: 18px;
}
