.chatsWrapper {
  height: 100%;
}
.topbarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 49px;
  background: #ededed;
  flex: none;
}
.topTitle {
  font-size: 18px;
  font-weight: 600;
}
.topImg {
  position: absolute;
  right: 15px;
  vertical-align: middle;
}
.chatItemWrapper {
  /* flex: auto; */
  height: calc(100% - 49px);
  overflow: auto;
}
