.momentsWrapper {
  position: relative;
  height: 100%;
  overflow: scroll;
}
.back {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}
.bgTopWrapper {
  position: relative;
  height: 100vw;
}
.nickname {
  position: absolute;
  bottom: 12px;
  right: 88px;
  z-index: 1;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.avatar {
  position: absolute;
  bottom: -12px;
  right: 12px;
  width: 66px;
  height: 66px;
  border-radius: 7px;
  overflow: hidden;
}
.momentsItemWrapper {
  margin-top: 50px;
}
