.newFriendsWrapper {
  height: 100%;
}
.topbarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 49px;
  z-index: 1;
  background: #ededed;
  border-bottom: 1px solid #ebebeb;
}
.topbarWrapper img {
  position: absolute;
  left: 12px;
}
.topTitle {
  font-size: 18px;
  font-weight: 600;
}
.addNew {
  position: absolute;
  right: 12px;
  font-size: 15px;
  color: #333;
  text-decoration: none;
}
.newFriendsItemWrapper {
  height: calc(100vh - 50px);
  overflow: auto;
}
