.postMomentWrapper {
  position: relative;
}
.topbarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}
.cancel {
  /* position: absolute; */
}
.post {
  padding: 3px 8px;
  font-size: 17px;
  color: #f9faf9;
  background: #58be6b;
  border-radius: 5px;
}
.btnDisabled {
  color: #b7b7b7;
  background-color: #efefef;
}
